*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1000px){
    .wrapper{
        flex-direction: column;
    }
}

/* ----------------------------MENU------------------------------------- */

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    min-height: 100%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    padding: 0 40px;
    z-index: 10;
}

@media (max-width: 1000px){
    .menu{
        width: 100%;
    }
}

.search-city{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    justify-content: space-between;
    width: 100%;
}

.search{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    background-color: rgb(237, 237, 237);
    border: 1px solid white;
    font-size: 20px;
}

.search:focus{
    border: 1px solid rgb(0, 0, 255);
}

.search-button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(237, 237, 237);
    font-size: 24px;
}

.search-button:hover{
    background-color: rgb(205, 205, 205);
}

.search-button:active{
    border: 2px solid rgb(0, 0, 255);
}

.img-big{
    width: 90%;
    margin: 20px 0;
}

.img-weather{
    width: 100%;
    height: 100%;
}

@media(max-width: 1000px){
    .img-big{
        width: 300px;
    }
}

.weather {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.weather-deg {
    font-size: 72px;
    margin-bottom: 30px;
}
.weather-city {
    font-size: 30px;
    margin-bottom: 20px;
}
.weather-time {
}

.under-weather {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.under-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.under-value {
}

/* -------------------------information-block----------------------------- */

.main-information {
    display: flex;
    align-items: center;
    width: 70vw;
    min-height: 100%;
    flex-direction: column;
    padding: 0 10px;
}

.information-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 50px;
    padding-top: 30px;
}

@media (max-width:700px){
    .information-container{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 150px);
        grid-gap: 30px;
    }
}

.information-card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.information-card:hover{
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.information-name {
    font-size: 20px;
    color: rgb(150, 150, 150);
    margin-bottom: 15px;
}

.information-value {
    font-size: 40px;
    margin-bottom: 18px;
}

.temp-container {
    display: flex;
    align-items: center;
    margin: 0px 0 10px 0;
}

.temp-container:last-child{
    margin: 0px;
}

.temp-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.temp-value {
    font-size: 20px;
    font-weight: 600;
}

.information-under{
    font-size: 14px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.map{
    width: 650px;
    height: 300px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
}

#map{
    width: 650px;
    height: 300px;
}

@media(max-width: 1000px){
    .main-information{
        width: 100%;
    }
    .map-container{
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    #map{
        width: 100%;
        height: 100%;
    }
    
}

/* ----------------error---------------------- */

.error{
    color: red;
    width: 100%;
    padding: 3px 0 0 5px;
}

.error-none{
    display: none;
}